body {
    margin: 0;
    background: bisque;
}

.pic {
    border-radius: 20px;
}

.margin {

    margin: 100px;

}

.offcanvas-header {
    background-color: #BE9D6A;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

.logo {

    height: 40px;

}

.navbar {
    background-color: #BE9D6A;
    height: 80px;
    margin: 20px;
    border-radius: 20px;
    padding: 0.5rem;
}

.navbar-brand{

    font-size: 1.6rem;
    font-weight: bold;

}
.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: black !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.login-button {
    background-color: black;
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
    cursor: pointer;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}